@model System.Collections.Generic.IEnumerable<string>

@{
    ViewBag.Title = "Reflexif: EXIF tags and watermarking";
}

<div class="row">
    <h3>ReflEXIF: Image Upload and EXIF Data Demo</h3>
    <hr />
    <div class="col-md-4">
        <div id="dropzone">
            <p>Drop your file here!</p>
        </div>
        <p id="upload" class="hidden">
            <label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label>
        </p>
        <p id="filereader">File API & FileReader API not supported</p>
        <p id="formdata">XHR2's FormData is not supported</p>
        <p id="progress">XHR2's upload progress isn't supported</p>
        <p>
            <progress id="uploadprogress" min="0" max="100" value="0">0</progress>
        </p>
    </div>
    <div class="col-md-8">
        <form action="@Url.Action("Update", "Home")" id="metadata-form" method="post">
            <input type="hidden" name="filename" />
            <div class="form-group">
                <label for="title-input">Title:</label>
                <input type="text" class="form-control" id="title-input" name="title" />
            </div>
            <div class="form-group">
                <label for="copyright-input">Copyright:</label>
                <input type="text" class="form-control" id="copyright-input" name="copyright" />
            </div>
            @*
                <div class="form-group">
                    <label for="copyright-input">Subject:</label>
                    <input type="text" class="form-control" id="subject-input" name="subject" />
                </div>
                <div class="form-group">
                    <label for="copyright-input">Keywords:</label>
                    <input type="text" class="form-control" id="keywords-input" name="keywords" />
                </div>
            *@
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Upload Photograph" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <hr />
</div>
<div class="row">
    <h4>Images</h4>
    <ul>
        @foreach (var image in Model) {
            <li>
                @image
                | <a href="@Url.Action("Render", new { filename = image, width = 100, height = 100 })">100x100</a>
                | <a href="@Url.Action("Render", new { filename = image, width = 500, height = 500 })">500x500</a>
                | <a href="@Url.Action("Render", new { filename = image, width = 800, height = 800 })">800x800</a>

            </li>
        }
    </ul>
    @if (Model.Any()) {
        <a href="@Url.Action("CleanUp", "Home")" class="btn btn-danger">delete uploaded files</a>
    } else {
        <p>The image folder is empty! Try uploading something.</p>
    }
</div>
<div class="row">
    <hr />
    <h4>Sources & References</h4>
    <ul>
        <li><a href="http://www.github.com/dylanbeattie/reflexif">dylanbeattie/reflexif</a> on GitHub</li>
        <li><a href="http://130.15.24.88/exiftool/forum/index.php?topic=6591.0">Windows EXIF metadata on the ExifTool Forum</a></li>
        <li><a href="http://html5demos.com/file-api">HTML5 File upload and API demo</a> by <a href="https://twitter.com/rem">Remy Sharp</a></li>
        <li><a href="http://www.exiv2.org/tags.html">Standard Exif Tags</a> reference from exiv2.org</li>
    </ul>
</div>
@section scripts {
    <script src="~/Scripts/h5utils.js"></script>
    <script src="~/scripts/metadata.js"></script>
}
